body {background-color: black;
text-align: center;}

h1, p, h2, h3, a {
    font-family: verdana;
}

h1, h2 {
    color: white;
}

h3{
    color: gray;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2{
    font-size: 42px;
}